/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial;
}

.debug {   /* ricordarsi eliminare! */
    background-color: lightblue;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* Style nav */

.container {
    width: 60%;
    margin: 0 auto;
}

nav {
    padding-top: 25px;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li a {
    color: white;
}

li a:hover {
    color: white;
    text-decoration: underline;
}

.button {
    border-style: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px 14px;
    color: black;
    font-size: 14px;
}

a.button:hover {
    color: #5865F2;
}

.flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    min-width: 500px;
}

/* Style hero  */

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 625px;
}

.hero-container {
    width: 40%;
    margin: 130px auto;
    text-align: center;
    color: white;
}

.main-text {
    font-weight: bolder;
    font-size: 30px;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    padding-top: 30px;
    margin-bottom: 35px;
}

div.hero-container .button {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 20px;
 }

i {
    margin-right: 10px;
    font-size: 16px;
}

.black-btn {
    color: white;
    background-color: #23272A;
}

a.button.black-btn:hover {
    color: white;
}

/* Style Section */

section{
    height: 800px;
}

.section.main-text {
    color: #23272A;
    max-width: 300px;
    padding: 150px 0;
}

.section-img {  /* da chiarire questione margini/ grandezza finestra */
    margin-top: -100px;
}

.white-bg {
    background-color: FFFFFF;
}

.grey-bg {
    background-color: #F6F6F6;
}

.last {
    text-align: center;
    padding-top: 150px;
}

.img-last-section {
    width: 100%;
}

div.call-to-action {
    font-size: 28px;
    padding-top: 0; 
    padding-bottom: 90px;   
}

.scritta-cta {
    margin-top: -15px;
    padding-bottom: 20px;
}

.violet-btn {
    color: white;
    background-color: #8EA1E1;
    padding: 10px 20px;
}

a.button.violet-btn:hover {
    color: white;
}


/* Style Footer */

footer {
    background-color: #23272A;
    height: 600px;
}